body {
  background: linear-gradient(to right, #000000, #FFD700);
  color: white;
}

.table {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn-primary {
  background-color: #FFD700;
  border-color: #FFD700;
  color: #000000;
}

.btn-warning {
  background-color: #000000;
  border-color: #FFD700;
  color: #FFD700;
}

.btn-danger {
  background-color: #000000;
  border-color: #FFD700;
  color: #FFD700;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: #FFD700;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: #FFD700;
    box-shadow: 0 0 0 0.25rem rgba(255, 215, 0, 0.25);
}

.form-select {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-color: #FFD700;
}